section .index {
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
}

.index .title-style {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black ;
    font-size: 40px;

}

.index .div-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index form {
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.index form button {
    border-radius: 10px;
    width: 500px;
    cursor: pointer;
}

.index button h2 {
    font-size: 30px;
}

@media (max-width: 1100px) {
    .index form button {
        width: 300px;
    }
}

@media (max-width: 600px) {
    .index form button {
        width: 200px;
    }
}

.search {
    margin: 50px
}
.search h1 {
    text-align: center;
}

.search button {
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
}

.search button:hover {
    background-color: #007B9A;
}

.search  table {
    border-collapse: collapse;
    width: 100%;
}

.search th {
    border: 1px solid black;
    padding: 5px;
    background-color: #f2f2f2;
}

.search td {
    border: 1px solid black;
    padding: 5px;
}

.search td ,
.search th {
    text-align: center;
    vertical-align: middle;
}

.search select {
    display: table-row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 40px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px;
    background-color: #f8f8f8;
}

.search .submit,
.search .reset {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.search .submit:hover,
.search .reset:hover {
    background-color: #007B9A;
}

.search .submit {
    background-color: #4CAF50;
}

.search input .reset {
    background-color: #f44336;
}


.login section{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login .container {
    width: 90%;
    margin-top: 50px;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.login .form-section {
    width: 50%;
    padding: 40px;
}

.login h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.login label {
    display: block;
    margin-top: 10px;
    color: #666;
}

.login input[type="text"],
.login input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.login input[type="submit"] {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

.login input[type="submit"]:hover {
    background-color: #4cae4c;
}

.login .form-section:nth-child(1) {
    background-color: #f9f9f9;
}

.login .form-section:nth-child(2) {
    background-color: #fff;
}

.login h1 {
    position: absolute;
    top: 10px;
    font-size: 30px;
}

.back {
    position: absolute;
    top: 40px;
    left: 40px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
}

 .system-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.system-login .login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.system-login .login-container .password {
    width: 90%;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}


.system-login h1 {
    position: absolute;
    top: 10px;
    font-size: 30px;

}

.system-login .submit {
    width: 100%;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;

}

.system-login .submit:hover {
    background-color: #4cae4c;
}

.system .navbar {
    background-color: #333;
    overflow: hidden;
    margin-top: 50px;
}

.system .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.system .navbar a:hover {
    background-color: #ddd;
    color: black;
}

.system h1 {
    flex: content;
    text-align: center;
    top: 10px;
    font-size: 30px;
}

.system .active {
    background-color: #4CAF50;
}


.system div .table-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.system th {
    border: 1px solid black;
    padding: 5px;
    background-color: #f2f2f2;
}

.system td {
    border: 1px solid black;
    padding: 5px;
}

.system td ,
.system th
{
    text-align: center;
    vertical-align: middle;
}

.system div  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.system .div-table {
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    width: 100%;

}

.system  select {
    display: table-row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 40px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px;
    background-color: #f8f8f8;
}

.system .submit {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.system .submit:hover {
    background-color: #007B9A;
}

.system .submit {
    background-color: #4CAF50;
}


.booking  h1{
    text-align: center;
    top: 10px;
    font-size: 30px;
}

.booking {
    background-color: #f0f0f0;
}

.booking .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.booking .left {
    flex: 1;
    margin-left: 300px;
}
.booking .right {
    flex: 1;
    margin-right: 300px;
}

.booking .submit {
    background-color: #4CAF50;
}

.booking .reset {
    background-color: #f44336;
}
.booking .submit,
.booking .reset {
    padding: 10px 80px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.booking .submit:hover,
.booking .reset:hover {
    background-color: #007B9A;
}

.booking .navbar {
    background-color: #333;
    overflow: hidden;
    margin-top: 50px;
}

.booking .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.booking .navbar a:hover {
    background-color: #ddd;
    color: black;
}

.booking .active {
    background-color: #4CAF50;
}

.booking .table {
    border-collapse: collapse;
    width: 100%;
}
