<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>預約表</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="booking">
    <h1>預約表</h1>
    <button onclick="location.href='{% url 'index' %}'" class="back">返回首頁</button>
    <div class="navbar">
        <a id="nav-new" class="navbar-item" href="{% url 'booking' %}">新增預約</a>
        <a id="nav-history" class="navbar-item" href="{% url 'bookingHistory' %}">查看歷史預約</a>
        <a id="nav-station" class="navbar-item" href="{% url 'bookingStation' %}">友善站點查詢</a>
        <a id="nav-bus" class="navbar-item" href="{% url 'bookingBus' %}">友善班次查詢</a>
    </div>
    <div id="new" class="table">
        <form method="post">
            {% csrf_token %}
            <div class="container">
                <h2 class="left">姓名</h2>
                <input class="right" type="text" name="name" maxlength="20" style="font-size: 30px">
            </div>
            <div class="container">
                <h2 class="left">乘客UID</h2>
                <input class="right" type="text" name="passenger_id" maxlength="20" style="font-size: 30px">
            </div>
            <div class="container">
                <h2 class="left">行駛日期</h2>
                <input class="right" type="date" name="driving_date" style="font-size: 30px">
            </div>
            <div class="container">
                <h2 class="left">行駛日期（星期）</h2>
                <select class="right" name="driving_week" style="font-size: 30px">
                    <option value="">請選擇日期</option>
                    <option value="Mon">Mon</option>
                    <option value="Tue">Tue</option>
                    <option value="Wed">Wed</option>
                    <option value="Thu">Thu</option>
                    <option value="Fri">Fri</option>
                    <option value="Sat">Sat</option>
                    <option value="Sun">Sun</option>
                </select>
            </div>
            <div class="container">
                <h2 class="left">路線編號</h2>
                <input class="right" type="text" name="route_number" style="font-size: 30px">
            </div>
            <div class="container">
                <h2 class="left">去/回程</h2>
                <select class="right" name="outbound_return" style="font-size: 30px">
                    <option value="">請選擇去/回程</option>
                    <option value="O">去</option>
                    <option value="R">回</option>
                </select>
            </div>
            <div class="container">
                <h2 class="left">發車時間</h2>
                <input class="right" type="time" name="departure_time" style="font-size: 30px">
            </div>
            <div class="container">
                <h2 class="left">上車地點</h2>
                <input class="right" type="text" name="pick_up_location" style="font-size: 30px">
            </div>
            <div class="container">
                <h2 class="left">下車地點</h2>
                <input class="right" type="text" name="drop_off_location" style="font-size: 30px">
            </div>
            <div class="container">
                <h2 class="left">特殊需求</h2>
                <select class="right" name="special_needs" style="font-size: 30px">
                    <option value="">是否有特殊需求</option>
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </div>
            <div class="container">
                <input type="submit" class="submit" name="button" id="button" value="送出">
                <input type="reset" class="reset" name="button" id="button" value="清除" onclick="location.href='{% url 'booking' %}'">
            </div>
        </form>
    </div>
</body>
</html>
