{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查詢項目</title>
    <link rel="stylesheet"  href="../static/css/style.css">
</head>
<body class="index">
    <button onclick="location.href='{% url 'index' %}'" class="back">返回首頁</button>
    <div>
        <h1 class="title-style">民眾查詢</h1>
    </div>
    <div class="div-style">
         <form action="{% url 'route' %}" method="get">
            <button type="submit">
                <h2>路線查詢</h2>
                <img src="{% static 'image/search.png' %}" alt="booking" height="150">
            </button>
        </form>
        <form action="{% url 'schedule' %}" method="get">
            <button type="submit">
                <h2>班表查詢</h2>
                <img src="{% static 'image/booking.png' %}" alt="booking" height="150">
            </button>
        </form>
    </div>
    <div class="div-style">
        <form action="{% url 'station' %}" method="get">
            <button type="submit">
                <h2>站點查詢</h2>
                <img src="{% static 'image/booking.png' %}" alt="booking" height="150">
            </button>
        </form>
        <form action="{% url 'bus' %}" method="get">
            <button type="submit">
                <h2>車輛查詢</h2>
                <img src="{% static 'image/search.png' %}" alt="booking" height="150">
            </button>
        </form>
    </div>
</body>
</html>