<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>歷史到站資訊</title>
     <link rel="stylesheet"  href="../static/css/style.css">
</head>
<body class="route">
<div >
    <h1>歷史到站資訊</h1>
    <button onclick="location.href='{% url 'properson' %}'" class="back">返回首頁</button>
    <form action="{% url 'prohistory' %}" method="get" class="horizontal-form">
        <div class="form-group">
            <label for="route_number">輸入路線編號</label>
            <input type="text" id="route_number" name="route_number">
        </div>
         <div class="form-group">
            <label for="start_station">輸入發車日期</label>
            <input type="date" id="start_station" name="start_station" class="date">
        </div>
        <div class="form-group">
            <label for="via_station">輸入去/返程</label>
            <select style="width: 170px" name="outbound_return">
                <option value="">請選擇去/返程</option>
                <option value="O">去程</option>
                <option value="R">返程</option>
            </select>
        </div>
        
        <input type="submit" value="查詢" class="submit">
        <input type="reset" value="清除" id="reset" class="reset" onclick="location.href='{% url 'prohistory' %}'">
    </form>
</div>
    
    <table>
        <tr>
            <th>行駛日期</th>
            <th>站名</th>
            <th>到站時間</th>
        </tr>
        {% for arrival in arrivals %}
        <tr>
            <td>{{ arrival.driving_date }}</td>
            <td>{{ arrival.station_name }}</td>
            <td>{{ arrival.arrival_time }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">沒有找到符合條件的路線</td>   
        </tr>
        {% endfor %}
    </table>
</body>
</html>
