<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>車輛資訊查詢（經由班次）</title>
     <link rel="stylesheet"  href="../static/css/style.css">
</head>
<body class="route">
<div >
    <h1>車輛資訊查詢（經由班次）</h1>
    <button onclick="location.href='{% url 'properson' %}'" class="back">返回首頁</button>
    <form action="{% url 'proschedule' %}" method="get" class="horizontal-form">
        <div class="form-group">
            <label for="route_number">輸入路線編號</label>
            <input type="text" id="route_number" name="route_number">
        </div>
        <div class="form-group">
            <label for="start_station">輸入發車日期</label>
            <input type="date" id="start_station" name="start_station" class="date">
        </div>
        <div class="form-group">
            <label for="via_station">輸入發車時間</label>
            <input type="time" id="via_station" name="via_station"  class="time">
        </div>
        <div class="form-group">
            <label for="via_station">輸入去/返程</label>
            <select style="width: 170px">
                <option value="">請選擇去/返程</option>
                <option value="去程">去程</option>
                <option value="反程">反程</option>
            </select>
        </div>
        
        <input type="submit" value="查詢" class="submit">
        <input type="reset" value="清除" id="reset" class="reset" onclick="location.href='{% url 'proschedule' %}'">
    </form>

</div>
    
    <table>
        <tr>
            <th>車牌</th>
            <th>手/自排</th>
            <th>廠牌</th>
            <th>車長</th>
            <th>是否為低地板</th>
            <th>無障礙設施</th>
            <th>座位數</th>
            <th>甲乙類</th>
            <th>排氣量</th>
            <th>最大馬力</th>
            <th>最大扭力</th>
        </tr>
        {% for bus in buses %}
        <tr>
            <td>{{ bus.license }}</td>
            <td>{{ bus.brand }}</td>
            <td>{{ bus.carLength }}</td>
            <td>{{ bus.lowFloor }}</td>
            <td>{{ bus.wheelChairUse }}</td>
            <td>{{ bus.numberOfSeats }}</td>
            <td>{{ bus.typeAorTypeB }}</td>
            <td>{{ bus.manualGearBox }}</td>
            <td>{{ bus.displacement }}</td>
            <td>{{ bus.maxHorsePower }}</td>
            <td>{{ bus.maxTorque }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="11">沒有找到符合條件的路線</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>