<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理員系統</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script>
        function showTable(id) {
            var tables = document.getElementsByClassName('table');
            for (var i = 0; i < tables.length; i++) {
                tables[i].style.display = 'none';
            }
            document.getElementById(id).style.display = 'table';
        }

        function makeActive(id) {
            var navbarItems = document.getElementsByClassName('navbar-item');
            for (var i = 0; i < navbarItems.length; i++) {
                navbarItems[i].classList.remove('active');
            }
            document.getElementById(id).classList.add('active');
        }
    </script>
    <style>
        .button {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border-radius: 5px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            background-color: #007B9A;
            color: white;
            font-size: 15px;
        }
        .form-group {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
        }
    </style>
</head>
<body class="system">
    <h1>系統管理員</h1>
    <button onclick="location.href='{% url 'index' %}'" class="back">返回首頁</button>
    <section class="">
        <div class="navbar">
            <a id="nav-vehicles" class="navbar-item" href="{% url 'system' %}">管理車輛（維護）</a>
            <a id="nav-vehicles" class="navbar-item" href="{% url 'system1' %}">管理車輛（未行駛）</a>
            <a id="nav-drivers" class="navbar-item" href="{% url 'system2' %}" >管理駕駛</a>
            <a id="nav-passenger" class="navbar-item" href="{% url 'system3' %}" style="background-color: #4cae4c" >管理預約</a>
        </div>
        
        <div id="passenger-booking" class="table form-group" >
            <form action="{% url 'system3' %}" method="get" class="horizontal-form form-group" >
                <div class="table" > 
                    <div class="form-group">
                        <label for="drivingDate">輸入行駛日期</label>
                        <input type="date" id="drivingDate" name="drivingDate">   
                    </div>
                    <div class="form-group">
                        <label for="routeNumber">輸入路線編號</label>
                        <input type="text" id="routeNumber" name="routeNumber">   
                    </div>
                    <div class="form-group">
                        <label for="departureDate">輸入發車時間</label>
                        <input type="time" id="departureDate" name="departureDate">   
                    </div>
                    <div class="form-group">
                        <label for="outboundReturn">輸入去/返程</label>
                         <select id="outboundReturn" name="outboundReturn" >
                            <option value="">請選擇去/反程</option>
                            <option value="O">去程</option>
                            <option value="R">反程</option>
                        </select>
                    </div>
                   
                    <input type="submit" value="查詢" class="submit">
                    <input type="reset" value="清除" id="reset" class="reset" onclick="location.href='{% url 'system3' %}'">
                </div>
            </form>
            <div>
                <table class="div-table">
                <tr>
                    <th>電話</th>
                </tr>
                {% for bus in buses %}
                <tr>
                    <td>{{ bus.phone }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">沒有找到符合條件的車輛</td>
                </tr>
                {% endfor %}
            </table>
            </div>
            
        </div>
    </section>
</body>
</html>
